@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Khand', sans-serif;
    font-size: 40px;
    color: #1E2A5C;
}
h2{
    font-size: 80px;

    margin-bottom: 20px;
    color: #1E2A5C;
    text-align: center;
}
#classifica {
    border: 2px solid #1E2A5C;
    border-collapse: collapse;
}

#classifica th {
    border: 2px solid;
    padding-left: 20px;
    padding-right: 20px;
}
#promozione{
    position: relative; top: -948px; left: 155px;
}
#playoff{
    position: relative; top: -890px; left: 220px;
}
#playout{
    position: relative; top: -402px; left: 220px;
}
#retrocessione{
    position: relative; top: -404px; left: 127px;
}