@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

html {
    margin-right: 30px;
}

body {
    font-family: 'Khand', sans-serif;
    background: linear-gradient(yellow, darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

iframe {
    margin-left: 50px;
}

h1 {
    font-size: 80px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #1E2A5C;
    text-align: center;
}

h6 {
    font-size: 35px;
    margin-top: -150px;
    margin-bottom: -2px;
}

div {
    font-size: 35px;
    color: #1E2A5C;
    position: relative;
    left: 700px;
    top: -5px;
}

img {
    height: 80px;
    width: 80px;
}