@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Khand', sans-serif;
    background-image: url("sfondo1.png");
    background-size: cover;
    background-attachment: fixed;
}
a{
    color: #1E2A5C;
    text-decoration: none;
}
table{
    margin-top: -20px;
}
h1 {
    font-size: 90px;
    color: #1E2A5C;
    text-align: center;
    border-bottom-style: solid;
}

th {
    font-size: 40px;
    color: #1E2A5C;
    border-right-style: solid;
    padding-right: 10px;
    padding-left: 10px;
    border-right-color: #1E2A5C;
}
img{
    height: 350px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: -20px;
}