@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Khand', sans-serif;
    background-image: url("sfondo1.png");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 90px;
    margin-top: -120px;
    color: darkgreen;
    text-align: center;
    border-bottom-style: solid;
}

th {
    font-size: 40px;
    color: darkgreen;
    border-right-style: solid;
    padding-right: 10px;
    padding-left: 10px;
    border-right-color: darkgreen;
}

img {
    width: 1100px;
    height: 500px;
}