@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

:root {
    box-sizing: border-box;
}

*, :before, :after {
    box-sizing: inherit;
}


body {
    font-family: 'Khand', sans-serif;
    background-image: url("campo.png");
    background-size: cover;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 25px;
    margin-left: -1.5em;
    justify-content: center;
}

li {
    margin-top: 0;
}

a {
    text-decoration: none;
    padding: 0.5em;
    font-weight: bold;
    border: solid;
    background: #1E2A5C;
    border-radius: .5em;
    color: white;
}

h1 {
    margin-left: auto;
    font-size: 5em;
    color: #1E2A5C;
    border-bottom: solid #1E2A5C;
    text-align: right;
}

img {
    display: flex;
    height: 25em;
    width: 25em;
    margin-left: auto;
    margin-top: 5em;
}

a:hover {
    color: yellow;
    transition: all .3s ease-out;
}
@media screen and (min-width: 320px) and (max-width: 768px){
    :root{
        width: 710px;
    }
    h1{
        text-align: center;
    }
    img{
        margin: 3em 8em 1.5em 8.8em;
    }
    li {
        font-size: 16px;
        margin-left: 3px;
    }
}