@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

:root {
    box-sizing: border-box;
}

*, :before, :after {
    box-sizing: inherit;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    color: #1E2A5C;
}
body {
    font-family: 'Khand', sans-serif;
    background: linear-gradient(yellow, darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, h2{
    text-align: center;
    font-size: 80px;
    margin-top: -20px;
    margin-bottom: 20px;}
img{
    width: 50%;
    margin: 0;
    border: solid 5px #1E2A5C;
}

/*.allenatori {*/
/*    display: grid;*/
/*    grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));*/
/*    grid-template-rows: 1fr;*/
/*    grid-gap: 0.5em;*/
/*}*/
/*.portieri{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-rows: 1fr;*/
/*    align-items: stretch;*/
/*    justify-items: center;*/
/*}*/
