@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Khand', sans-serif;
    font-size: 40px;
    background: linear-gradient(yellow, darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 80px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #1E2A5C;
    text-align: center;
}

h2 {
    color: #1E2A5C;
}
a{
    text-decoration: none;
    color: #1E2A5C;
}
table {
    margin-top: -50px;

}

img {
    border-style: solid;
    border-color: #1E2A5C;
    width: 250px;
    height: 310px;

}

td {
    font-size: 30px;
    color: #1E2A5C;
    padding-left: 65px;
    text-align: center;
}
{
    height: 80px;
    width: 80px;
}