@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

:root {
    box-sizing: border-box;
}

*, :before, :after {
    box-sizing: inherit;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    color: #1E2A5C;
}

body {
    font-family: 'Khand', sans-serif;
    background: linear-gradient(yellow, darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    height: 80px;
    width: 80px;
    border: none;
}
h5{
    text-align: center;
}
.card{
    justify-content: center;
}
.col-sm{
    display: flex;
    justify-content: center;
}
img{
    height: 21rem;
}