@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Khand', sans-serif;
    font-size: 40px;
    color: darkgreen;
    background: linear-gradient(0.75turn,
    yellow, white)
}

h1 {
    font-size: 80px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: darkgreen;
    text-align: center;
}

table {
    border: 2px solid darkgreen;
    border-collapse: collapse;
}

th {
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid darkgreen;
}

td {
    font-size: 40px;
    border: 2px solid darkgreen;
}
