@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');

body {
    font-family: 'Khand', sans-serif;
    font-size: 90px;
}
div{
    color: darkgreen;
    font-weight: bold;
}