@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');

body {
    font-family: 'Khand', sans-serif;
    font-size: 50px;
    background-color: #FFF966;
}
div{
    color: darkgreen;
    font-size: 80px;
    font-weight: bold;
}